.container{
    
}

.head{
    text-align: center;
    margin-bottom: 50px;
}

#calendar{
    text-align: center;
}

#eachDay{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 1%;
    padding-left: 0;
}


.date-click{
/*    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: hsl(208, 56%, 53%);
    overflow: visible;
    border-left: 1px solid rgba(0,0,0,0.1);
    color: white;*/
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.add-agenda{
    margin-bottom: 2%;
/*    cursor: pointer;
    background-color: hsl(208, 56%, 45%);*/
}

#schedule{
    text-align: left;
}

#time{
    width: 75%
}

#date{
    text-align: center;
}

#submit-btn{
    margin-bottom: 5px;
}

#agenda-list{
    width: 75%;
    /*margin-left: 5px;*/
    list-style: none;
}

.span-align{
    margin-left: 2%;
}

.display-none{
    display: none;
}